.header {
    max-width: 100%;
    background: #ffffff;
    padding: 15px 110px 15px;
    border-bottom: 1px solid #a9a9a9;
}

.header_page_title {
    font-size: 36px;
    color: #5a5a5a;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}